.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 1.55s ease-in;
}

.card-empty {
    padding-top: 7px;
    text-align: center;
    font-size: .8em;
}